@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #3b82f6;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #1f2937;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --accent: #f3f4f6;
  --accent-foreground: #1f2937;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --radius: 0.5rem;
}

.dark {
  --background: #1f2937;
  --foreground: #f3f4f6;
  --border: #374151;
  --input: #374151;
  --ring: #60a5fa;
  --primary: #60a5fa;
  --primary-foreground: #f9fafb;
  --secondary: #374151;
  --secondary-foreground: #f9fafb;
  --muted: #374151;
  --muted-foreground: #d1d5db;
  --accent: #3b82f6;
  --accent-foreground: #f9fafb;
  --destructive: #f87171;
  --destructive-foreground: #f9fafb;
  --card: #283442;
  --card-foreground: #f3f4f6;
  --popover: #283442;
  --popover-foreground: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2937;
    --foreground: #f3f4f6;
    --border: #374151;
    --input: #374151;
    --ring: #60a5fa;
    --primary: #60a5fa;
    --primary-foreground: #f9fafb;
    --secondary: #374151;
    --secondary-foreground: #f9fafb;
    --muted: #374151;
    --muted-foreground: #d1d5db;
    --accent: #3b82f6;
    --accent-foreground: #f9fafb;
    --destructive: #f87171;
    --destructive-foreground: #f9fafb;
    --card: #283442;
    --card-foreground: #f3f4f6;
    --popover: #283442;
    --popover-foreground: #f3f4f6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }
}
